<div *ngIf="deal" class="row mt-4">
    <div class="col">
        <h2 class="details-title mb-4">{{deal?.title}}</h2>
        <div class="d-flex">
            <app-prices [normalPrice]="deal.normalPrice" [salePrice]="deal.salePrice"></app-prices>
            <p class="ms-auto fst-italic">You save {{getSavings() | currency}}</p>
        </div>

        <div class="alert alert-secondary" role="alert">
            Available at {{deal?.storeName}}
        </div>

        <div class="card">
            <img [src]="deal.thumb" [alt]="deal.title">
        </div>
    </div>
    <div class="col">
        <app-game-deal-list [title]="deal.title" [header]="'Other deals for this game'"></app-game-deal-list>
    </div>
</div>