<h3 class="mb-4">{{header}}</h3>
<ng-container *ngIf="deals?.length">
    <div class="table-responsive">
        <table class="table text-center">
            <tbody>
                <tr *ngFor="let deal of deals, trackBy: trackByDealID">
                    <th scope="row" class="text-start">
                        <h4 class="other-title">{{deal.storeName}}</h4>
                        <app-prices [normalPrice]="deal.normalPrice" [salePrice]="deal.salePrice"></app-prices>
                    </th>
                    <td class="text-end">
                        <button (click)="onViewMore(deal)" class="btn btn-sm btn-outline-dark">
                            View More</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>


<ng-container *ngIf="isLoading()">
    <div class="spinner-grow"></div>
    <span class="ms-4">Loading...</span>
</ng-container>

<ng-container *ngIf="isError()">
    <div class="alert alert-danger" role="alert">
        Error: {{error}}
    </div>
</ng-container>