<header>
    <div class="nav d-flex flex-column flex-md-row align-items-center py-3 mb-4">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

            <img class="me-4" src="assets/img/logo.png" alt="Logo">

            <span class="ml-4 title">{{title}}</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto d-none d-sm-none d-md-block">
            <a class="me-4 py-2 text-dark text-decoration-none" *ngFor="let routeName of routeNames"
                [routerLink]="'/' + routeName" routerLinkActive="active">{{routeName | titlecase}}</a>
        </nav>
    </div>
</header>