<form [formGroup]="form">
    <div class="row mb-4">
        <div class="col">
            <h1 class="page-header">Deals</h1>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" formControlName="title" class="form-control" placeholder="Search deals by name">
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <app-deal-filters formControlName="onSale"></app-deal-filters>
        </div>
    </div>
</form>

<div class="row row-cols-1 row-cols-md-3 my-4">
    <div *ngFor="let deal of deals; trackBy:trackByDealID" class="col">
        <app-deal-list-item [deal]="deal"></app-deal-list-item>
    </div>
</div>

<div class="row my-4">
    <div class="col text-center">
        <button class="btn btn-primary" (click)="addPage()">Load More</button>
    </div>
</div>