<form [formGroup]="form">
    <div class="row mb-4">
        <div class="col">
            <h1 class="page-header">Deals</h1>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" formControlName="title" class="form-control" placeholder="Search deals by name">
            </div>
        </div>
    </div>

    <div *ngIf="isLoaded()" class="row mb-4">
        <div class="col">
            <app-deal-filters formControlName="onSale"></app-deal-filters>
        </div>
    </div>
</form>

<ng-container *ngIf="isLoaded()">
    <div class="row row-cols-1 row-cols-md-3 my-4">
        <div *ngFor="let deal of deals; trackBy:trackByDealID" class="col">
            <app-deal-list-item [deal]="deal"></app-deal-list-item>
        </div>
    </div>

    <div class="row my-4">
        <div class="col">
            <app-pagination [pageNumber]="pageNumber.value" [pageSize]="pageSize.value" [totalItems]="totalItems"
                (pageChanged)="updatePageNumber($event)">
            </app-pagination>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="isLoading()">
    <div class="spinner-grow"></div>
    <span class="ms-4">Loading...</span>
</ng-container>

<ng-container *ngIf="isError()">
    <div class="alert alert-danger" role="alert">
        Error: {{error}}
    </div>
</ng-container>

<ng-container *ngIf="isEmpty()">
    <div class="alert alert-warning" role="alert">
        Nothing here...
    </div>
</ng-container>